[Unit]
Description=ZKEACMS

[Service]
WorkingDirectory=/zkeasoft/cms
ExecStart=/usr/bin/dotnet /zkeasoft/cmsZKEACMS.WebHost.dll
Restart=always
RestartSec=10
SyslogIdentifier=zkeacms
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target